doctype html
html(lang='pt-br')

  head
    meta(charset='UTF-8')

    title Decolar Alarme

    link(rel='stylesheet', media='screen', href='//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', media='screen', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')

    script(src='//code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    //- script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.4.0/react.js')
    //- script(src='//cdnjs.cloudflare.com/ajax/libs/react/15.4.0/react-dom.js')

  body

    #precos-mount-point

    script(src='./bundle.js')