extends ../../../views/layout

append Scripts
  link(rel='stylesheet', media='screen', href='public/index.css')

block Content
  .container-fluid.centered

    //- Cabeçario titulo
    .row
      .text-center
        h1 Decolar Alarme

    //- Formulario de busca
    .row
      form.form-horizontal.pull-right(method="GET", action="alarme", role="form")
        .input-group.col-md-8.col-md-offset-2
          input.form-control(name="url", type="url", autocomplete="off", value="http://www.decolar.com/shop/flights/results/oneway/POA/SAO/2015-12-25/1/0/0", placeholder="Decolar URL")
          span.input-group-btn
            button.btn.btn-default(type="submit")
              span.glyphicon.glyphicon-plane
